/* Header con logo */
h1 {
    display: inline;
    line-height: 100px;
}
#logo{
    line-height: 100px;
    display: inline;
}

  /* Main */
main{
    background-color: lightgray;
    height: 800px;
 }
/* div contenitore */
.container{
    background-color: white;
    width: 70%;
    height: 90%;
    margin: auto;
    border-radius: 10px;
}
/* Navigazione pulsanti */
.button1{
    background-color: lightblue;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
     margin: 4px 2px;  
}
.button2{
    background-color: white;
    border: 1px solid;
    border-radius: 4px;
    color: lightgray;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;    
}
.pulsanti{
    margin-left: 5%;
}
nav{
    border-bottom: 2px solid lightgrey;
}
/* Elementi To do */
.todo{
    margin-left: 5%;
}